/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Staatliches&display=swap');

body {
    font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--nunito-font-family);
    margin: 0;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
}

:root {
    --nunito-font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
}

.no-select {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                       supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}

.main {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-content: center;
    height: inherit;
    gap: 10px;
}

.player-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-content: center;
    background-color: #afafaf;
    border: 1px solid #000;
    border-radius: 0.3rem;
    gap: 8px;
    padding: 8px;
}

.player-info {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 0.3rem;
    width: 500px;
    gap: 30px;
    padding: 8px;
}

.player-name {
    width: auto;
    height: 1.4rem;
    border-radius: 9999px;
    border: none;
    outline: 1px solid black;
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 10px;
}
.player-name:focus {
    outline: 2px solid black;
}
.player-name:focus::placeholder {
    color: transparent;
}


.player-info[state="empty"] .player-name {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: normal;
}
.player-info[state="occupied"] .player-name {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
}

.player-char {
    justify-self: end;
}

.player-info > button {
    grid-area: 1 / -1 / 2 / -2;
    justify-self: end;
    font-size: 1.8rem;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
}
.player-info[state="empty"] > .remove-player {
    z-index: -1;
}
.player-info[state="occupied"] > .remove-player {
    z-index: 0;
}
.add-player {
    background-color: #1db336;
}
.add-player:hover {
    background-color: #34d14e;
}
.add-player:active {
    background-color: #0e8822;
}
.remove-player {
    background-color: #b12727;
}
.remove-player:hover {
    background-color: #d64646;
}
.remove-player:active {
    background-color: #911919;
}

.game-area {
    justify-self: center;
}

.game-cover {
    grid-area: 1 / 1 / -1 / -1;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 0.3rem;
    background-color: rgba(0, 0, 0, 0.64);
    padding: 20px;
}

.game-container {
    grid-area: 1 / 1 / -1 / -1;
    justify-self: center;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 0.3rem;
    background-color: #ececec;
    border: 1px solid #000;
}

.game-cell {
    display: flex;
    justify-content: center;
    background-color: #e6f9fc;
    outline: 1px solid #000;
}
.game-cell:hover {
    background-color: #cbedee;
    outline: 2px solid #000;
}
.game-cell:active {
    background-color: #b2d2d3;
    outline: 2px solid #000;
}
.game-cell-char {
    position: relative;
    place-self: center;
    font-size: 8rem;
}

.game-buttons {
    display: flex;
    justify-content: space-evenly;
}

.reset-game,
.change-board-size {
    font-family: var(--nunito-font-family);
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 9999px;
    color: white;
    background-color: rgb(180, 40, 40);
    border: 2px solid white;
    height: 2rem;
    width: 8rem;
}
.reset-game:hover {
    background-color: rgb(211, 57, 57);
}
.reset-game:active {
    background-color: rgb(119, 19, 19);
}

.change-board-size {
    color: rgb(255, 255, 255);
    background-color: #12a2db;
}
.change-board-size:hover {
    background-color: #28bbf5;
}
.change-board-size:active {
    background-color: #078cc0;
}