/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Staatliches&display=swap');

body {
    font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--nunito-font-family);
    margin: 0;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
}

:root {
    --nunito-font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
}

.no-select {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                       supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}

.main {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-content: center;
    height: inherit;
    gap: 10px;
}

.game-container {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #ececec;
    border: 1px solid #000;
}

.game-cell {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #000;
    padding: 0px;
}
.game-cell-char {
    position: relative;
    place-self: center;
    font-size: 8rem;
}

.game-buttons {
    display: flex;
    justify-content: space-evenly;
}

.reset-game,
.change-game-size {
    font-family: var(--nunito-font-family);
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 9999px;
    color: white;
    background-color: #25ad69;
    border: 2px solid white;
    height: 2rem;
    width: 8rem;
}
.reset-game:hover,
.change-game-size:hover {
    background-color: #38c47e;
}
.reset-game:active,
.change-game-size:active {
    background-color: #1e975b;
}